{{#if results}}
    {{> conversations_list }}
{{else}}
    <div class='area noResults help'>
        <h4>{{translate "message.noSearchResults"}}</h4>
        <ul>
            <li>{{translate "message.reduceNumberOfGambits"}}</li>
                {{#if session.user}}
                    <li>{{translate "message.logInToSeeAllConversations"}}</li>
                {{/if}}
            <li>{{translate "message.fulltextKeywordWarning"}}</li>
        </ul>
    </div>
{{/if}}
